@font-face {
  font-family: 'Gg Sans';
  src: local('Gg Sans Normal'), local('Gg-Sans-Normal'), url('./fonts/ggsans-Normal.ttf') format('truetype'),
    url('./fonts/ggsans-Normal.woff') format('woff'), url('./fonts/ggsans-Normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
